<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">

    <head
        <title>Casa Blanca</title>
        <link href="static.css/mis estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body style="background-color: #00a8ce; padding: 0; margin: 0;">
        <section th:fragment="categoriasTabs" id="categorias">
            <ul class="nav nav-tabs" style="    background-color: white;
                border-color: black;
                border-bottom-style: solid;     --bs-nav-link-color: #000000;
                --bs-nav-link-hover-color: #000000;">

                <li th:each="categoria : ${categorias}" class="nav-item">
                    <a class="nav-link" 
                       th:href="@{/pruebas/listado/}+${categoria.idCategoria}"
                       >[[${categoria.descripcion}]]</a>
                </li>                    
            </ul>
        </section>

        <section th:fragment="FiltroCategorias" id="Filtro">
            <div class="row py-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item" >
                        <a class="nav-link" 
                           aria-current="page" 
                           href="/pruebas/listado"
                           style="color: black; font-size: 20px;"
                           >[[#{pruebas.toda}]]</a>
                    </li>
                    <li th:each="categoria : ${categorias}" class="nav-item" style="color: black; font-size: 20px;">
                        <a class="nav-link" 
                           th:href="@{/pruebas/listado/}+${categoria.idCategoria}"
                           style="color: black;">[[${categoria.descripcion}]]</a>                                                 
                    </li>                    
                </ul>
            </div>
        </section>

        <section th:fragment="listadoProductos" id="productos">
            <div class="container" style="
                 margin-top: 12px;
                 margin-left: 718px;
                 border-style: groove;
                 border-color: black;
                 border-width: medium;
                 padding-top: 2px;
                 max-width: 2174px;">
                <div class="row row-cols-4" style="padding: 10px;">
                    <div class="card" th:each="p : ${productos}" style="padding-left: 7px;    --bs-card-border-width: 11px;">
                        <figure><img th:src="${p.rutaImagen}" 
                                     class="card-img-top" alt="..."
                                     height="500"/>
                            <figcaption>Disponibles: [[${p.existencias}]]
                            </figcaption>
                        </figure>
                        <div class="card-header" style="border-bottom: none;">
                            <h4 class="card-title">[[${p.descripcion}]]</h4>
                            <h4 class="card-title">Precio: $[[${p.precio}]]</h4>
                        </div>

                        <div class="card-body">
                            <p class="card-text">[[${p.detalle}]]</p>                    
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section th:fragment="filtros2" class="bg-light">
            <div id="contenedor2" style="      width: 22%;
                 float: left;
                 padding: 10px;
                 box-sizing: border-box;
                 background-color: #00a8ce;
                 margin: 0;
                 position: sticky;
                 margin-left: 16px;">              
                <div class="columna-izquierda">
                    <form method="POST" th:action= "@{/pruebas/query1}"
                          class="was-validated">
                        <div class="card">                            
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="precioInf">[[#{pruebas.precio.inferior}]]</label>
                                    <input type="number" class="form-control" 
                                           th:value="${precioInf}"
                                           th:name="precioInf" required="true" style="background-image: none; border-color: black"/>
                                </div>
                                <div class="mb-3">
                                    <label for="precioSup">[[#{pruebas.precio.superior}]]</label>
                                    <input type="number" class="form-control" 
                                           th:value="${precioSup}"
                                           th:name="precioSup" required="true" style="background-image: none; border-color: black"/>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary">
                                    <i></i> [[#{pruebas.precio.filtro}]]
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section th:fragment="filtros" class="bg-light">
            <div class="row py-2">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <form method="POST" th:action="@{/pruebas/query1}" 
                          class="was-validated">
                        <div class="card">                            
                            <div class="card-body">
                                <div class="mb-3" >
                                    <label for="precioInf">[[#{pruebas.precio.inferior}]]</label>
                                    <input type="number" class="form-control" 
                                           th:value="${precioInf}"
                                           th:name="precioInf" required="true"
                                           style=" border-color: black;"/>
                                    <div class="mb-3" style="background-image: none">
                                        <label for="precioSup">[[#{pruebas.precio.superior}]]</label>
                                        <input type="number" class="form-control" 
                                               th:value="${precioSup}"
                                               th:name="precioSup" required="true"/>
                                    </div>
                                </div>
                                <div class="card-footer text-center">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fas fa-check"></i> [[#{pruebas.precio.filtro}]]
                                    </button>
                                </div>
                            </div>
                    </form>
                </div>

            </div>
        </section>

    </body>
</html>